table.pet {
  width: 100%;
  border-collapse: collapse;
}

table.pet tr {
  border-left: 1px solid #222;
  border-top: 1px solid #222;
}

table.pet th,
table.pet td {
  border-right: 1px solid #222;
  border-bottom: 1px solid #222;
  padding: 4px 15px;
}

.ps__skin {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: 0 0.3725rem;
  border-radius: 50%;
}
